/* 인코딩 (한글 안 깨지게) */
@charset "utf-8";

/* 초기화 코드 (필수, 인터넷 창 여백을 없애줌) */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;
    padding: 20px;
}
/* signup 태그 전부 */

#signup {
    background: #fff;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}

/* signup 안에 있는 모든 fieldset */
#signup fieldset {
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

/* signup 안에 fieldset 중 마지막 요소 */
#signup fieldset:last-of-type {
    border: none;
}

/* 로그인 정보, 개인정보 */
#signup legend {
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 10px;
}

/* 개인정보 li, 로그인 정보 li */
#signup ul li {
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
}

/* label 요소 */
#signup label {
    float: left;
    font-size: 13px;
    width: 110px;
}

/* 제출 버튼 */
#signup button {
    border: 1px solid#222;
    border-radius: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 7px 25px;
    display: block; /*가운데 정렬을 위해 블록 태그로 전환*/
    margin: 0 auto; /* 가운데 정렬, 인라인 태그에는 적용이 안 됨*/
}

/* 타입 선택자 사용; input 타입이 text, password, email 속성 요소 */
#signup input[type=text], #signup input[type=password], #signup input[type=tel], #signup input[type=email] {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px;
    width: 200px;
}

/* 72행 요소와 같은 의미, 이런 식으로 요소 선택도 가능함. */
/* #signup input:not[type=radio] {

} */

/* input 태그에서 required 속성을 가진 요소 선택 */
#signup input[required] {
    border: 1px red solid;
}

/* input 태그에서 readonly 속성을 가진 요소 선택 */
#signup input[:readonly] {
    border: none;
}

/* 버튼에 마우스 올렸을 때 */
#signup button:hover {
    background: #222;
    color: #fff;
}