            /* 0 ~ 766px */
            
            .header {

            }

            .header__nav {
                max-width: 1200px;
                background: #9de25c;
                margin: 0 auto;
                display: flex;
                flex-direction: row; /*기본값이 row. 명시적으로 작성한 것*/
            }
    
            .header__nav > h1 {
                width: 100px;
                height: 120px;
            }
    
            .header__nav > nav {
                width: calc(100% - 100px);
                background: #ff6b57;
                height: 120px;
            }
    
            .header__nav > nav > ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
    
            .header__nav > .deliverty-order {
                width: 168px;
            }
    
            .footer {
                height: 680px;
                background: #474747;
            }
    
            /* 767 ~ 1023px */
    
            @media all and (min-width: 767px) {
                .guide__content {
                    flex-direction: row;
                }
    
                .store__content ul li {
                    width: 16;
                }
            }
    
            @media all and (min-width:1024px)
            /* 1024px 이상 */